html {
    font-size: 62.5%;
  }
  body {
    margin: 0;
    color: #050505;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
  }
  
  .details a{
    color: #fff;
  }
  
  @media (max-width: 425px) {
    .header .header__user {
    display: none;
  } 
  .header .header__logo {
   font-size: 26px;
  
  
  }
  .products .product {
      height: 356px;
  }
  }
  a, a:link {
    color: #000;
    text-decoration: none;
    transition: 0.1s linear;
  }
  a:hover {
    color: var(--hovered-color);
  }
  a:focus {
    outline: none;
  }
  input:focus, button:focus {
    outline: none;
  }
  .page {
    display: grid;
    padding: 2rem 4rem;
    grid-template-areas: "header header" "sidebar main" "footer footer";
    grid-template-rows: 8rem 1fr;
    grid-template-columns: 24rem 1fr;
  }
  @media (max-width: 425px) {
    .page {
      grid-template-areas: "header header" "main main" "footer footer";
    }
  
  .page{
    padding: 10px;
  }
  }
  @media (max-width: 375px) {
    .page {
      grid-template-rows: 6rem 1fr;
    }
  }
  .header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  @media (max-width: 375px) {
    .header {
      gap: 0.9rem;
    }
  }
  .header__logo-container {
    width: 24rem;
  }
  @media (max-width: 1024px) {
    .header__logo-container {
      width: auto;
    }
  }
  @media (max-width: 768px) {
    .header__logo-container {
      flex: 1;
    }
  }
  .header__logo {
    display: inline-block;
    color: #000;
   font-size: 40px;
   font-weight: 800;
   letter-spacing: 2px;
  
  
  }
  .header__links {
    flex-grow: 1;
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    .header__links {
      display: none;
    }
  }
  .header__link {
    padding: 1.8rem 1rem;
    box-sizing: border-box;
    font-size: 1.7rem;
    border-bottom: 2px solid transparent;
  }
  .header__link:hover {
    border-bottom-color: var(--hovered-color);
  }
  .header__search-container {
    position: relative;
  }
  @media (max-width: 375px) {
    .header__search-container {
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 3.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--hovered-background);
    }
  }
  .header__search-container > svg {
    position: absolute;
    left: 1.2rem;
    top: 48%;
    transform: translateY(-50%);
  }
  @media (max-width: 375px) {
    .header__search-container > svg {
      position: initial;
      transform: translate(-1px, -1px);
    }
  }
  .header__search-container:hover .header__search, .header__search-container:focus-within .header__search {
    background: var(--hovered-background);
  }
  .header__search {
    width: 18.4rem;
    height: 4.4rem;
    border-radius: 100rem;
    background: #f5f5f5;
    border: 0;
    box-sizing: border-box;
    padding: 0.4rem 1.4rem 0.4rem 4.6rem;
    font-size: 1.7rem;
    transition: 0.1s linear;
  }
  .header__search::-webkit-input-placeholder {
    color: #b3b3b3;
  }
  @media (max-width: 375px) {
    .header__search {
      display: none;
    }
  }
  .header__user {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  .header__user > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 3.8rem;
  }
  .header__user > a:hover {
    background-color: var(--hovered-background);
  }
  .header__profile:link {
    background: url("https://images.unsplash.com/photo-1480455624313-e29b44bbfde1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&h=400&q=100");
    background-size: cover;
  }
  .sidebar {
    grid-area: sidebar;
  }
  @media (max-width: 425px) {
    .sidebar {
      display: none;
    }
  }
  .sidebar__title {
    font-size: 2.8rem;
    font-weight: normal;
    margin-top: 3.4rem;
  }
  .sidebar__category:not(:first-of-type) .sidebar__heading {
    border-top: 1px solid #00000033;
    margin: 4rem 0 1.6rem;
  }
  .sidebar__heading {
    font-size: 1.6rem;
    margin: 2rem 0 1.6rem;
    padding-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.1s linear;
  }
  .sidebar__heading:hover {
    color: var(--hovered-color);
  }
  .sidebar__heading > svg {
    height: 2.2rem;
  }
  .sidebar__options {
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .check {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    cursor: pointer;
    transition: 0.1s linear;
  }
  .check:hover {
    color: var(--hovered-color);
  }
  .check__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  .check__input:checked + .check__checkbox {
    background: #000;
  }
  .check__checkbox {
    width: 2rem;
    height: 2rem;
    border: 1px solid #00000066;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .check__checkbox > svg {
    height: 2rem;
  }
  .check__text {
    font-size: 1.6rem;
    margin: 0;
    margin-left: 0.8rem;
    user-select: none;
  }
  .color {
    display: inline-block;
    width: 3.4rem;
    height: 3.4rem;
    margin: 0.5rem;
    border-radius: 3.4rem;
    background: hsl(var(--hue), 60%, 60%);
    cursor: pointer;
  }
  .main {
    grid-area: main;
    padding: 4rem;
    padding-right: 0;
    box-sizing: border-box;
    text-align: -webkit-center;
  }
  @media (max-width: 425px) {
    .main {
      padding-left: 0;
    }
  }
  .main__title {
    font-size: 3rem;
    margin: 1rem 0.4rem 0.8rem;
    text-align: left;
    display: none;
  }
  @media (max-width: 425px) {
    .main__title {
      display: block;
    }
  }
  .filters {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
  }
  @media (max-width: 425px) {
    .filters {
      justify-content: flex-start;
    }
  }
  .filters__btn {
    background: transparent;
    font-size: 1.7rem;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.1s linear;
  }
  .filters__btn:hover, .filters__btn:hover > svg {
    stroke: var(--hovered-color);
    color: var(--hovered-color);
  }
  .filters__btn > svg {
    height: 1.9rem;
    margin-left: 0.4rem;
    transition: 0.1s linear;
  }
  .filters__btn--sort {
    margin-left: 1.6rem;
  }
  .show {
    display: none;
  }
  @media (max-width: 425px) {
    .show {
      display: initial;
    }
  }
  @media (max-width: 425px) {
    .hide {
      display: none;
    }
  }
  
  .pagination__page {
    text-align: center;
    font-size: 1.6rem;
  }
  .pagination__links {
    margin: 2rem 0 3rem;
    display: flex;
    justify-content: space-between;
  }
  .pagination__link {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
  }
  .pagination__link > svg {
    --s: 0.6rem;
    height: 1em;
    transition: 0.1s linear;
  }
  .pagination__link:hover > svg {
    stroke: var(--hovered-color);
  }
  .basket {
    position: sticky;
    bottom: 0;
    width: 30rem;
    height: 6rem;
    border-radius: 0.4rem 0.4rem 0 0;
    background: #000;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.4rem 2rem;
    box-sizing: border-box;
  }
  @media (max-width: 375px) {
    .basket {
      width: 100%;
    }
  }
  .basket__list {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .basket__item {
    height: 4rem;
  }
  .basket__item:not(:first-child) {
    margin-left: 1.4rem;
  }
  .basket__btn {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s linear;
  }
  .basket__btn:hover {
    background: #ffffff33;
  }
  
   footer{
        width: auto;
        background-color: #333;
        padding: 0 160px 0 ;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
      }
     footer p{
        line-height: 180%;
        color: #a29e9e;
        font-size: 11px;
        cursor: pointer;
      }
     
     footer h6{
        margin-top: 25px;
        font-size: 15px;
        color: #fff;
      }
      /* a{
        text-decoration: none;
        color: #fff;
      } */
      footer div .one{
        margin-bottom: 20px;
        text-transform: none;
      }
      footer .details{
        display: flex;
        flex-wrap: wrap;
      }
      footer .details div{
        width: 150px;
        margin-right: 20px;
        color: #fff;
      }
      footer .details div p{
        text-transform: uppercase;
      }
      footer .details div span{
        margin-bottom: 20px;
      }
      footer  .contact{
        width: 340px;
      }
      footer .information{
        margin-right: 20px;
      }
      footer .information p{
        margin-bottom: 8px;
      }
      footer .account p{
        margin-bottom: 8px;
        width: 150px;
      }
      footer .newsletter p, input{
        padding: 5px;
      }
      footer .newsletter input{
        width: 170px;
        margin-bottom: 20px;
        border-style: none;
        background-color: #4d4d4d;
        color: #a29e9e;
      }
      footer .newsletter input::placeholder{
        color: #a29e9e;
        font-size: 10px;
      }
      footer .newsletter button{
        padding: 7px 12px;
        margin-left: 4px;
        color: #fff;
        background-color: #f00;
        font-size: 10px;
        border-style: none;
      }
      footer .newsletter a{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
      }
      footer .newsletter a:first-of-type{
        background-color: #4267B2;
      }
      footer .newsletter a:nth-of-type(2){
        background-color:  #1da1f2;
      }
      footer .newsletter a:nth-of-type(3){
        background-color:  #f00;
      }
      footer .newsletter a:nth-of-type(4){
        background-color: #8a50ca;
      }
      
      footer .newsletter a:last-of-type{
        background-color: #eeaa2f;
        color: #333;
      }
      
      /* start media footer */
      @media (max-width: 767px) {
        footer{
          padding: 15px 30px;
          justify-content: initial;
      }
        footer .information{
          width: 120px;
        }
        footer .account{
          width: 120px;
        }
      }
      /* end media footer */
      .footer-2{
        height: 45px;
        padding: 15px 180px;
        background-color: #252121;
        position: relative;
        margin-bottom: 0;
      }
      .footer-2 p{
        color: gray;
        display: inline-block;
        position: absolute;
        top: 15px;
      }
      .footer-2 p span{
        color: #fff;
      }
      .footer-2 .icons{
        float: right;
      }
      .footer-2 a{
        display: inline-block;
        margin-right: 4px;
      }
      .footer-2 a:first-of-type{
        background-color: #31abea; 
        color: #fff;
      }
      .footer-2 a:nth-of-type(2){
        background-color: #14226b; 
        color: #fff;
      }
      .footer-2 a:nth-of-type(3){
        background-color: #31abea; 
        color: #fff;
      }
      .footer-2 a:nth-of-type(4){
        background-color: orange; 
        color: #fff;
      }
      .footer-2 a:last-of-type{
        background-color: #31abea; 
        color: #fff;
      }
          /* start media footer-2 */
      @media (max-width: 767px) {
        .footer-2{
          padding: 5px 20px;
          height: 80px;
      }
      .footer-2 p{
        padding: 5px 15px;
        float: none;
        position: static;
      }
        .footer-2 .icons{
          padding: 5px 15px;
          float: none;
        }
      }
  
  /* ===========products========== */
  
  img {
      width: 100%;
  }
  
  .products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 25px;
      padding: 40px 0 40px 40px;
  }
  
  .product {
      position: relative;
      cursor: pointer;
      height: 620px;
  }
  
  .heart {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: white;
      border-radius: 50%;
  }
  
  .heart i {
      margin: 5px;
      font-size: 18px;
      padding-top: 2px;
      font-weight: bold;
  }
  
  .brand, .desc {
      position: relative;
      display: grid;
      grid-template-columns: 3fr 1fr;
      padding: 5px 10px 0 5px;
      font-size: 14px;
      background-color: white;
      font-weight: bold;
      white-space: nowrap;
      text-align: left;
  }
  
  .desc div:nth-child(1), .brand div:nth-child(1) {
      overflow: hidden;
      margin-right: 10px;
      text-overflow: ellipsis;
  }
  
  .desc {
      font-weight: normal;
  }
  
  .price {
      font-weight: normal;
      text-align: right;
      text-decoration: line-through;
  }
  
  .nprice {
      color: rgb(201, 2, 2);
      text-align: right;
  }
  
  .promo {
      position: absolute;
      top: -140%;
      left: 5px;
      display: flex;
      font-size: 13px;
  }
  
  .promo div:nth-child(1) {
      background-color: black;
      color: white;
      padding: 3px 4px 3px 4px;
  }
  
  .promo div:nth-child(2) {
      background-color: white;
      color: rgb(201, 2, 2);
      padding: 3px 4px 3px 4px;
  }
  
  .size {
      font-size: 13px;
      font-weight: bold;
      color: rgb(143, 143, 143);
      padding: 10px 10px 0 10px;
      word-spacing: 6px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .colors {
      display: flex;
      margin-bottom: 10px;
  }
  
  .colors div img {
      width: 40px;
      margin-right: 8px;
  }
  
  .hideSize {
      display: none;
  }
  
  .footup {
      transform: translateY(-40%);
      transition: 0.5s ease-in-out;
  }
  
  .active {
      border: 1px solid;
  }
  
  @media only screen and (max-width:950px) {
      .container {
          display: flex;
       
      }
  
      .size{
          opacity: 0;
      }
  
      .footup {
          transform: translateY(0);
      }
  }
  
  @media only screen and (max-width:600px) {
      .products {
          grid-template-columns: 1fr 1fr;
          padding: 0;
      }
  }